#wheel-of-doom {
    border: 7px solid black;
    border-radius: 50%;
    border-top: 9px solid blue;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    justify-self: center;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hide {
    visibility: hidden;
}