<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Saved Blogs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex flex-col h-screen bg-gray-100">
    <nav class="bg-black p-4 text-white flex justify-between">
        <div>
            <h1 class="font-bold">AI YoutubeURL to Blog Generator</h1>
        </div>
        <div>
            <ul class="text-right">
                <li><a href="../frontend/index.html" class="text-white hover:underline">Generator</a></li>
                <li><a href="../frontend/login.html" class="text-white hover:underline">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main class="mx-auto flex-grow">
        <div class="flex justify-center m-4 shadow-md">
            <section class="m-4 text-center ">
                <h2 class="font-semibold text-2xl mb-4 ">Your Saved Blogs</h2>
                <div class="space-y-4">
                    <article class="border border-gray-800 bg-gray-300 rounded p-4 shadow-md">
                        <h3 class="font-semibold">Blog Title</h3>
                        <p>Here lies the first of many article to grace this page</p>
                    </article>
                </div>
            </section>
        </div>
    </main>

    <footer class="h-10 text-center text-blue-900 hover:underline ">
        <a href="https://github.com/paigepwilcox">See my Github for more projects</a>
    </footer>
</body>
</html>